<!-- product_list.html -->
{% extends 'base.html' %}

{% block content %}
    <h1>Items List</h1>
    <table>
        <tr>
            <th>Item Name</th>
            <th>Item Price</th>
            <th>Item Quantity</th>
            <th>Item Description</th>
        </tr>
        {% for product in Item %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.description }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
